@model IEnumerable<LonghornMusic.Models.Album>
@using LonghornMusic.Controllers;
@{
    ViewBag.Title = "AlbumsSearch";
}

@Html.ActionLink("New Album Search", "AlbumsSearch", null, new { @class = "btn btn-default" })
@Html.ActionLink("Song Search", "SongsSearch", null, new { @class = "btn btn-default" })
@Html.ActionLink("Artist Search", "ArtistsSearch", null, new { @class = "btn btn-default" })
    <h2>Album Search</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        Album: @Html.TextBox("NameSearchString", null, new { @class = "form-control" }) <br />
        Artist: @Html.TextBox("ArtistSearchString", null, new { @class = "form-control" }) <br />
        Genres: @Html.ListBox("SelectedGenres", (MultiSelectList)ViewBag.AllGenres, new { @class = "form-control" }) <br />
        Rating
        <label class="form-check-label">
            @Html.RadioButton("GorL", GreaterOrLess.GreaterThan, true, new { @class = "form-check-input" }) Greater Than
        </label>
        <label class="form-check-label">
            @Html.RadioButton("GorL", GreaterOrLess.LessThan, new { @class = "form-check-input" }) Less Than:
        </label> @Html.TextBox("RatingString", null, new { @class = "form-control" }) (1-5 Inclusive) <br />

        <input type="submit" value="Search" class="btn btn-default" />

    </p>
}

<p>
    @ViewBag.ErrorMsg
</p>
<p>
    Displaying @ViewBag.AlbumCount of @ViewBag.AllAlbumCount Albums
</p>

<table class="table">
    <tr>
        <th>
            Album
        </th>
        <th>
            Artists
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumArtistString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Albums", new { Id = item.AlbumId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

