@model IEnumerable<LonghornMusic.Models.Artist>

@{
    ViewBag.Title = "ArtistsSearch";
}

<h2>Artist Search</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.ActionLink("New Artist Search", "ArtistsSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Song Search", "SongsSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Album Search", "AlbumsSearch", null, new { @class = "btn btn-default" })
    </p>
}

<p>
    Displaying @ViewBag.ArtistCount of @ViewBag.AllArtistCount Artists
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistRating)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistRating)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ArtistId })
            </td>
        </tr>
    }

</table>

