@model IEnumerable<LonghornMusic.Models.Song>

    @{
        ViewBag.Title = "SongsSearch";
    }

    <h2>Song Search</h2>

@using (Html.BeginForm())
{
    <p class="form-group">
        @Html.ActionLink("New Song Search", "SongsSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Album Search", "AlbumsSearch", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Artist Search", "ArtistsSearch", null, new { @class = "btn btn-default" })
    </p>
}

    <p>
        @ViewBag.countstring
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongArtists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongPrice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongArtistString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongPrice)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.SongId })
                </td>
            </tr>
        }

    </table>

