@model LonghornMusic.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Artist</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistRating)
        </dd>

        <table class="table table-bordered">
            <tr>
                <th>
                    Songs 
                </th>
            </tr>

            @foreach (var item in Model.ArtistSongs)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SongName)</td>
                    <td>@Html.ActionLink("Details", "Details", "Songs", new { Id = item.SongId }, new { @class = "btn btn-default" })</td>
                </tr>
                }
            </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Albums
                </th>
            </tr>

            @foreach (var item in Model.ArtistAlbums)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumName)</td>
                    <td>@Html.ActionLink("Details", "Details", "Albums", new { Id = item.AlbumId }, new { @class = "btn btn-default" })</td>
                </tr>
            }
        </table>



    </dl>
</div>
<p>
    @Html.ActionLink("Review Artist", "CreateArtistReview", "Reviews", new { ArtistId = Model.ArtistId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
