@model IEnumerable<LonghornMusic.Models.AppUser>

@{
    ViewBag.Title = "UsersList";
}

<h2>Users List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard1Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard2Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard1Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard2Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit User", "EditUser", new { id=item.Id })
        </td>
    </tr>
}

</table>
