
@{
    ViewBag.Title = "UserMenu";
}

<h2>User Menu</h2>

<p>
    @Html.ActionLink("View Account Infomation", "UserDetailsGet") |
    @Html.ActionLink("Change Password", "ChangePassword") |
    @Html.ActionLink("Change Account Information", "ChangeInformationGet") |
    @Html.ActionLink("Manage Credit Cards", "CreditCardsGet") |
    @Html.ActionLink("Music Library", "MusicOwnedGet")  
</p>
