@model LonghornMusic.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumPrice)
        </dd>

        <table class="table table-bordered">
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Review
                </th>
                <th>
                    User
                </th>
            </tr>

            @foreach (var item in Model.AlbumReviews)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumScore)</td>
                    <td>@Html.DisplayFor(modelItem => item.Review)</td>
                    <td>@Html.DisplayFor(modelItem => item.Review.Author)</td>
                </tr>
            }
        </table>
        <table class="table table-bordered">
            <tr>
                <th>
                    Songs Included
                </th>
                <th>
                    Artist(s)
                </th>
            </tr>
            <!--TODO: ADD LIST TO STRING METHOD, MAKE ARTISTS A STRING FOR THIS TABLE--->
            @foreach (var item in Model.AlbumSongs)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SongName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SongArtistString)</td> 
                </tr>
            }
        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Add To Cart", "AddAlbumToCart", "Purchases", new { AlbumId = Model.AlbumId }, new { @class = "btn btn-default" })
</p>
