@model IEnumerable<LonghornMusic.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Artist(s)
        </th>
        <th>
            Rating
        </th>
        <th>
            Price
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumArtistString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId }) 
        </td>
    </tr>
}

</table>
