@model LonghornMusic.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SongPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongPrice)
        </dd>
        <table class="table table-bordered">
            <tr>
                <th>
                    Album(s)
                </th>
            </tr>

            @foreach (var item in Model.SongAlbums)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AlbumName)</td>
                </tr>
            }
        </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Artist(s)
                </th>
            </tr>

            @foreach (var item in Model.SongArtists)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
                </tr>
            }
        </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Genre
                </th>
            </tr>

            @foreach (var item in Model.SongGenres)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
                </tr>
            }
        </table>

        <table class="table table-bordered">
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Review
                </th>
                <th>
                    User
                </th>
            </tr>

            @foreach (var item in Model.SongReviews)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SongScore)</td>
                    <td>@Html.DisplayFor(modelItem => item.SongReviewText)</td>
                    <td>@Html.DisplayFor(modelItem => item.Review.Author)</td>
                </tr>
            }
        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Add To Cart", "AddSongToCart", "Purchases", new { SongId = Model.SongId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
