@model IEnumerable<LonghornMusic.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            Artist(s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongPrice)
        </th>
        <th>Manager Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongArtistString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongPrice)
        </td>
        <td>
            @Html.ActionLink("Add To Cart","AddToCart", new { id=item.SongId}) |
            @Html.ActionLink("Details", "Details", new { id = item.SongId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>
