@model IEnumerable<LonghornMusic.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Song Name
        </th>
        <th>
            Artist(s)
        </th>
        <th>Album(s)</th>
        <th>Rating</th>
        <th>
            Price
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongArtistString)
            </td>
            <td>@Html.DisplayFor(modelItem => item.SongAlbumString)</td>
            <td>@Html.DisplayFor(modelItem => item.SongRating)</td>
            <td>
                @Html.DisplayFor(modelItem => item.SongPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SongId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.SongId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongId })
            </td>
        </tr>
    }

</table>
